#papi {
    text-align: center;
    color: blueviolet;
    text-decoration: underline;
}
body{
    background-color: cadetblue;
}
img{
    height: 300px;
    position: relative;
    float:right;
}
#rf{
    color: maroon;
    text-decoration: underline;
    display: list-item;
    list-style-type: disc;
    list-style-position: inside;
}
#zs{
    color: maroon;
    text-decoration: underline;
    display: list-item;
    list-style-type: disc;
    list-style-position: inside;
}
#aq{
    color: maroon;
    text-decoration: underline;
    display: list-item;
    list-style-type: disc;
    list-style-position: inside;
}